/* don't use body{ */
/* use universal selectors */
  *{
    font-family:"Courier New";
}

h1{
  color:#1b74e4;
}


.userbtn{
  background-color: aqua;
}

#searchbtn{
  background-color: black;
  color:white;
}